/* Navbar styles */
.navbar {
    display: flex;
    justify-content: space-evenly;

    align-items: center;
    background-color: white;
    padding: 20px;
    /* position: fixed; */
    height: 80px;
  }
  
  .logo img {
    width: 100px; /* Adjust the width of the logo as needed */
  }
  
  .nav-links {
    list-style: none;
    display: flex;
  }
  
  .nav-links li {
    margin-right: 20px;
  }
  
  .nav-links li:last-child {
    margin-right: 0;
  }
  
  .nav-links a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: color 0.3s;
  }
  
  .nav-links a:hover {
    color: #ff9900; /* Change color on hover */
  }
  